*{
    margin: 0px;
    padding: 0px;
    
}
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  
  
}

nav{
    display: flex;
   
    justify-content: space-around;
    align-items: center;
    width:100%;
    max-width: 1600;
    height: 92px;
    
}
nav ul{
    display: flex;    
    

    
    
}
nav ul li a{
    text-decoration: none;
    color: #000000;
}
nav ul li{
    list-style: none;
    margin-right: 32px;
    
}
nav .logo{
    height: 60px;
    width: 139px;
}

header nav button{
    height: 44px;
    width: 144px;
    padding: 16px;
    background-color: #30B868;
    color:#FFFFFF;
    border: none;
    border-radius: 4px;
}