*{
    margin: 0px;
    padding: 0px;
    
}
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  
  
}

nav{
    display: flex;
   
    justify-content: space-around;
    align-items: center;
    width:100%;
    max-width: 1600;
    height: 92px;
    
}
nav ul{
    display: flex;    
    

    
    
}
nav ul li a{
    text-decoration: none;
    color: #000000;
}
nav ul li{
    list-style: none;
    margin-right: 32px;
    
}
nav .logo{
    height: 60px;
    width: 139px;
}

header nav button{
    height: 44px;
    width: 164px;
    padding: 9.5px 16px;
    background-color: #30B868;
    color:#FFFFFF;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    
     
}
.banner{
    display: flex;
    justify-content: center;
    
    background-image: url(./assets/hero-bg.png);
    background-repeat: no-repeat;
    width: 100%;
    max-width: 1600px;
}

.banner .banner-container{
    
    margin: 0 auto;
    padding: 116px 120px;

    
   
   
    

}

.banner .banner-container .early-access{
    height: 35px;
    width: 229px;
    font-size: 16px;
    font-weight: 500;
    background-color: #FFFFFF;
    color: #30B868;
    border: none;
    border-radius: 1000px;
    padding: 8px 12px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 16px;
    
     
    

   
}
.banner .banner-container .early-access p{
    text-align: center;
    padding-top: 16px;
}
.banner .banner-container .early-access div{
    background-color: #30B868;
    height: 16px;
    width: 16px;
    border: none;
    border-radius:8px ;
    box-shadow: 2px 2px 10px #30B868;
    
}
.banner .banner-container h1{
    color: #FFFFFF;
    width: 48%;
  max-width: 770px;
   height: 164px;
   font-size: 48px;
   font-weight: 700;
    
   
   
}

h1 span{
    color: #30B868;
}
.banner .banner-container p{
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 16px;
    
}
.bannerbtn .btn1{
    font-size: 16px;
    font-weight: 600;
    background-color: #30B868;
    border: none;
    border-radius: 4px;
    padding: 12px 16px;
    color: #FFFFFF;
    margin-right: 16px;
}
.bannerbtn .btn2{
    font-size: 16px;
    font-weight: 600;
   background: inherit;
    border: 1px solid white;
    border-radius: 4px;
    padding: 12px 16px;
    color: #FFFFFF;
}

