*{
    margin: 0px;
    padding: 0px;
    
}
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  
  
}

nav{
    display: flex;
   
    justify-content: space-around;
    align-items: center;
    width:100%;
    max-width: 1600;
    height: 92px;
    
}
nav ul{
    display: flex;    
    

    
    
}
nav ul li a{
    text-decoration: none;
    color: #000000;
}
nav ul li{
    list-style: none;
    margin-right: 32px;
    
}
nav .logo{
    height: 60px;
    width: 139px;
}

header nav button{
    height: 44px;
    width: 164px;
    padding: 9.5px 16px;
    background-color: #30B868;
    color:#FFFFFF;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    
     
}
.banner{
    
     
    background-image: url(./assets/hero-bg.png);
    background-repeat: no-repeat;
    width: 100%;
    max-width: 1600px;
}

.banner .banner-container{
    
    margin: 0 auto;
    padding: 116px 120px;

    
   
   
    

}

.banner .banner-container .early-access{
    height: 35px;
    width: 229px;
    font-size: 16px;
    font-weight: 500;
    background-color: #FFFFFF;
    color: #30B868;
    border: none;
    border-radius: 1000px;
    padding: 8px 12px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 16px;
    margin-right: 500px;
    margin-left: 500px;
    
     
    

   
}
.banner .banner-container .early-access p{
    text-align: center;
    padding-top: 16px;
    

}
.banner .banner-container .early-access div{
    background-color: #30B868;
    height: 16px;
    width: 16px;
    border: none;
    border-radius:8px ;
    box-shadow: 2px 2px 10px #30B868;
    
}
.banner .banner-container h1{
    color: #FFFFFF;
    width: 48%;
  max-width: 770px;
   height: 164px;
   font-size: 50px;
   font-weight: 700;
   margin-right: 400px;
    margin-left: 400px;
    
   
   
}
.banner .banner-container .early-access p{
    margin-bottom: 16px;
}

h1 span{
    color: #30B868;
}
.banner .banner-container .para p{
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 16px;
    
    margin-left: 370px;
    color: white;
    
}
.bannerbtn{
    display: flex;
    align-items: center;
}

.bannerbtn .btn1{
    font-size: 16px;
    font-weight: 600;
    background-color: #30B868;
    border: none;
    border-radius: 4px;
    padding: 12px 16px;
    color: #FFFFFF;    
    margin-right: 16px;
    margin-left: 350px;
    display: flex;
    gap: 10px;
    
}

.bannerbtn .btn2{
    font-size: 16px;
    font-weight: 600;
   background: inherit;
    border: 1px solid white;
    border-radius: 4px;
    padding: 12px 16px;
    color: #FFFFFF;
    display: flex;
    gap: 10px;
    align-items: center;
    
    
}
.note-container .note-heading{
    text-align: center;
    padding-top: 30px;
}
.note-container .note-heading h2{
    font-size: 45px;
    font-weight: Bold;
    color: #001931;
}
.note-container .note-heading p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
}

.card-container{
    display: flex;
    align-items: center;
    margin: 44px 120px 48px;
    height: 300px;
    width: 85%;
    max-width: 1360px;
    gap: 16px;
}

.card-container .card {
    height: 300px;
    width: 322px;
    padding: 24px 24px;
    border: none;
    border-radius: 8px;
    background-color: #FFFFFF;
    filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.139));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 16px;
}
.card-container .card .img{
    height: 60px;
    width: 60px;
    background-color: #F95555;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-container .card h3{
    font-size: 24px;
    font-weight: 600;
    color: #001931;
}
.card-container .card p{
    font-size: 16px;
    color:#627382;
    line-height: 20px;
}

.brain-container{
    padding:120px;
    display: flex;
    align-items: center;
    gap: 40px;
    
   
}

.brain-container .brain-img img{
    height: 600px;
    width: 600px;
}
.brain-container .brain-text{
   padding-top: 102px;
   padding-bottom: 102px;

}
.brain-container .brain-text text{
    height: 396px;
    width: 700px;
}
.brain-container .brain-text .solution{
    font: 16px;
    font-weight: 500;
    color: #30B868;
    margin-bottom: 16px;
}
.brain-container .brain-text h2{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
}
.brain-container .brain-text .para{
    font-size: 16px;
    color: #627382;
    margin-top: 10px;
    margin-bottom: 35px;
}

.brain-container .brain-text h4{
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
   margin-bottom: 6px;
   display: flex;
    

}
.early{
    padding: 0px 120px 120px 120px;
    width: 95%;
    max-width: 1600px;
}
.access-con{
    height: 350px;
    width: 85%;
    max-width: 1360px;
    background-color: #F7F6F2;
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center;

}
.access-con h3{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 24px;

    
}

.access-con .pp{
    font:16px;
    color: #627382;
    margin-bottom: 16px;
}

.access-con button{
    height: 50px;
    width: 185px;
    padding: 12px 12px;
    background-color: #30B868;
    color:#FFFFFF;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    margin:0 auto;
    display: flex;
    text-align: center;
    justify-content: center;
     margin-bottom: 16px;
    
    
    
     
}
.access-con button img{
    width: 20px;
    height: 20px;
    margin-left: 5px;
}